.change-rating
  - if signed_in? && !current_user&.creator?(resource.ratingable)

    - if resource.votes.key?(current_user.id)
      = link_to 'clear vote', clear_vote_from_rating_path(resource), method: :patch,
              class: "clear_vote-rating_#{resource.id} btn btn-outline-warning btn-sm",
              remote: true
      '
    - else
      = link_to '-', down_rating_path(resource), method: :patch,
              class: "down-rating_#{resource.id} btn btn-outline-danger btn-sm",
              remote: true
      '
      = link_to '+', up_rating_path(resource), method: :patch,
              class: "up-rating_#{resource.id} btn btn-outline-success btn-sm",
              remote: true
