.question_card {
  border: blue solid 2px;
  padding: 15px;
}

.question_title {
  font: bold 16pt verdana;
}

.question_body {
  font: italic 14pt verdana;
}

.edit_question {
  display: none;
}

.best_answer_of_question {
  font: bold 16pt verdana;
  color: green;
  padding: 15px;
  width: 50%;
}
